<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
