mat-card {
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
