/* Global styles and animations */

@font-face {
  font-family: "Poppins";
  src: url("./app/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

button {
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Content container */
.content {
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.slide-enter,
.slide-leave {
  transition: transform 0.3s ease-in-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Ensure consistent styling for mat-form-field and mat-select */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

mat-select {
  width: 100%;
}

/* Additional styling to ensure proper positioning */
.mat-form-field-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-form-field-flex {
  display: flex;
  flex-direction: column;
}

.mat-form-field-infix {
  width: 100%;
}

.mat-select-panel {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 1000; /* Ensure dropdown is above other elements */
  left: 0; /* Ensure dropdown aligns with the left edge */
}

.mat-select-trigger {
  display: flex;
  align-items: center;
}

/* Ensure dropdown content is not cut off and is positioned correctly */
.mat-select-content {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: 100%;
}

.mat-select-panel {
  left: auto !important; /* Ensure the dropdown is correctly aligned */
  right: 0 !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  mat-form-field {
    margin-bottom: 10px;
  }
}
